<div class="lesson">
  <div class="main">
    <h1>LESSON1</h1>
      <p>
        この章では、TOPページとABOUTページを作成しリンクで行き来出来るようにした後に、メールでのアカウント認証のログイン機能を作成していきます。<br>
        まず、最初にプログラミングを勉強しようと思った際に必要になるのは、コードを書いて実行結果を見ることができる開発環境の構築です。
        なので、さっそく開発環境の構築からしていきましょう、、、と言いたいところですが<br>
        初心者にとってこの開発環境の構築は最初のハードルです。この開発環境の構築でつまずいて挫折する方もいらっしゃるのではないでしょうか。
        今回は、そんな方でもブラウザだけあれば簡単に開発環境が作れるCloud9というツールを使っていきます。<br>
        Cloud9とは、アプリケーションの開発やデータベースなどをクラウド環境で利用できるサービスです。
        統合開発環境(IDE)と呼ばれるもので、様々な便利機能が集約されています。<br>
        簡単に説明すると「WEBアプリケーション開発ができる状態を簡単に用意できてしまうツール」です。<br>
       （<a href="http://www.sejuku.net/blog/385">Cloud9登録手順</a>）に詳しく手順が記載されているので登録しましょう。
      </p>

      <div class="code">
        <p>
          def index<br>
          　@blog = Blog.newagareeeeeeeeeeeeeeeagreeeeeeeeeeeeeeeee<br>
          end
        </p>
      </div>
      <p>nknnfngn
      </p>
      <div class="command">
        <p>nkgnknagnaknk</p>
      </div>

  </div>
</div>
